<nav class="navbar navbar-default navbar-fixed-top shadow-tiny" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <h2 >Test App</h2>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
